<html>
  <body>
    <table>
      <thead>
        <td>row1</td>
        <td>row2</td>
        <td>row3</td>
        <td>row4</td>
      </thead>
      <tbody>
        <tr>
          <td>content1</td>
          <td>content2</td>
          <td>content3</td>
          <td>content4</td>
        </tr>
        <tr>
          <td>content1</td>
          <td>content2</td>
          <td>content3</td>
          <td>content4</td>
        </tr>
      </tbody>
    </table>
    <form action="/postForm" method="post">
      <input type="textarea">
      <button>Submit</button>
    </form>
  </body>
</html>
